@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default scrollbars while keeping scroll behavior */
html {
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}